*{
    margin:0;
    padding:0;
}
html {
   height: 100%; 
    background: url(vikafon.png)no-repeat center center fixed ; 
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	    color: #fff; 
	   }
body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #fff url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/.jpg) center center fixed ;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	font-weight5: 40%;
	font-size5: 70%;
	color: #391b27;
	overflow-y: scroll;
	overflow-x: hidden;
}
.container{
    width:44.5%;
    height:62%;
    margin:10% auto 20% auto;
    position: fixed; 
    bottom: 40%; 
    right: 27%;
    top:3%;
    left:27%;
    border:15px solid #8B658B;
    -moz-box-shadow:1px 1px 12px #000;
    -webkit-box-shadow:1px 1px 12px #000;
    box-shadow:1px 1px 12px #000;
}
.wrap{
    width:33.3%;
    height:50%;
    margin:0;
    overflow:hidden;
    position:relative;
    float:left;
}
.wrap a img  {
    border:none;
    position:relative;   
    top:-40%;
    left:-90%;
    height:200%;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
